* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url(images/miniskybg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hide {
    display: none;
}

.tab {
    text-indent: 30px;
}

/*main body css*/
main {
    text-align: center;
}

/*start page CSS*/
.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    padding: 2vh;
    margin: 3vh auto;
    font-family: 'Spectral SC', serif;
    font-size: 6vh;
}

.intro {
    padding: 3vh;
    font-family: 'Karma', serif;
    font-size: 3vh;
    background: none;
}

.startImage {
    width:60%;
    margin: 2vh;   
}

.startImage:hover {
    transition: transform 2s;
    background: url('images/tinySLlogo.png');
    background-size: 100%;
    transform: rotate(360deg);
}

.buttons {
    width: 100%;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startButton {
    width: 50%;
    margin: 1vh;
    padding: 2.5vh;
    border: 1px solid midnightblue;
    font-size: 3vh;
    font-family: 'Artifika', serif;
    color: midnightblue;
    border-radius: 30px;
    cursor: pointer;
}

.startButton:hover {
    background: goldenrod;
    font-size: 3vh;
}

.startButton:active {
    background: blue;
}

/*header CSS*/
header {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid darkgreen;
    padding: 2vh;
    height: 60px;
    width: 90%;
}

.navImage {
    background: none;
    border: none;
    padding: 0;
    background: url('images/tinySLlogo.png');
    background-size: 100%;
    border-radius: 50%;
    width: 9vh;
    height: 8vh;
    cursor: pointer;
}

.navImage:hover {
    background: url('images/tinySLlogor1.jpg');
    background-size: 100%;
    transition: 1s;
}

.aboutLink, .portfolioLink {
    background: none;
    border: none;
    padding: 0;
    font-size: 18px;
    font-family: 'Artifika', serif;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.nav button:hover {
    color: blue;
}

.nav button:active {
    color: orange;
}

/*portfolio CSS*/
.portfolioBox {
    margin: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.portfolioSS {
    border: 1px solid black;
    border-radius: 30px;
    margin: 1vh;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
}

/*project title*/
.pHeading {
    font-size: 3.5vh;
    padding: 0.5vh;
    margin: 0;
}

/*techlist section*/
.techList {
    margin: 1vh auto;
    border: 1px solid black;
    border-radius: 20px;
    background: rgb(182, 222, 247);
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.techList img{
    height: 2.5vh;
    margin: 0.5vh;
}

/*screenshot image*/
.ssImage {
    width: 70%;
    background: gray;
    margin: 1vh auto;
    border: 2px solid black;
}

/*portfolio description*/
.portfolioDescription {
    font-size: 2.3vh;
    font-family: 'Karma', serif;
    border: 1px dotted gray;
    padding: 1.5vh;
    text-align: left;
    background: white;
    border-radius: 20px;
}

/*github and livepage links*/
.pageLinks a{
    background: none;
    font-family: 'Karma', serif;
    font-size: 2.5vh;
    cursor: pointer;
}

.pageLinks span{
    background: none;
}

a:visited{
    color: darkblue;
}

a:hover{
    color: orange;
}

a:active{
    font-style: bolder;
    color: blue;
}

/*portfolio page buttons section*/
.navigateButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

/*next and previous button*/
.nButton {
    height: 8vh;
    width: 30%;
    padding: 2vh;
    font-size: 2.3vh;
    font-family: 'Artifika', serif;
    border: 2px solid black;
    border-radius: 100px;
    color: black;
    cursor: pointer;
}

.nButton:hover:enabled {
    background: orange;
    font-size: 12px;
}

.nButton:active:enabled {
    background: blue;
}

.nButton:disabled {
    background: none;
    color: gray;
    outline: gray;
    cursor: none;
    pointer-events: none;
}

/*font for project number*/
.pageNo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5vh;
    font-family: 'Karma', serif;
    background: none;
}

.pageNo span {
    margin: 5px;
}

/*about me page */
.aboutMeBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1vh;
}

.bio{
    margin: 0;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.aboutHeading{
    font-size: 5vh;
    font-family: 'Spectral SC', serif;
    color: midnightblue;
    margin: 0;
    padding: 1vh;
}

.bioP{
    background: #F8FD89;
    text-align: left;
    border-radius: 20px;
    padding: 2vh;
    font-size: 2vh;   
    font-family: 'Karma', serif;
    color: midnightblue;
}

.contact {
    margin: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.email {
    font-family: 'Karma', serif;
    padding: 1vh;
}

.socialMediaLinks {
    margin: 1vh auto;
    width: 100%;
    border: 1px solid gray;
    border-radius: 20px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vh;
}

.socialMediaLinks img {
    background: white;
    display: inline-flex;
    width: 62px;
    height: 55px;
    text-align: center;
    transition: 0.5s;
    padding: 15px;
    margin: 1px;
 }

.socialMediaLinks a:hover {
    color: orange;
    box-shadow: 0 0 5px orange;
    text-shadow: 0 0 5px orange;
    background: orange;
}

a{
    background: none;
    cursor: pointer;
}

/*footer CSS*/
footer{
    text-align: center;
    font-size: 10px;
    padding: 3px;
    font-family: 'Solway', serif;
    position: relative; 
    bottom: 0;
}

footer a{
    color: blue;
    text-decoration: underline;
    padding: 5px;
    background: none;
}

/*added CSS for JavaScript*/
/*orange button appearance for page user is currently on*/
.activePage {
    color: blue;
    background: orange;
    border-radius: 20px;
    padding: 2vh;
}

/*******************************/
/*Tablet Breakpoint*/
@media only screen and (min-width: 600px) {
    h1 {
        margin: 2vh;
    }

    .startImage {
        width: 50%;
    }

    /*portfolio*/
    .portfolioSS {
        width: 90%;
        height: 78vh;
    }

    .techList{
        width: 60%;
    }

    .portfolioDescription{
        width: 90%;
    }

    .portfolioDescription {
        margin: 2vh;
    }

    /*header*/
    header{
        height: 77px;
    }

    .aboutLink, .portfolioLink {
        font-size: 22px;
    }

    /*about me page*/
    .bio{
        width: 90%;
        margin: 2vh;
        border: none;
    }

    .bioP {
        background: none;
    }

    .contact{
        margin: 2vh;
        background: white;
        width: 75%;
        border-radius: 50px;
        padding: 2vh;
        border: 1px solid #EDDD6E;
    }

    .contactTitle{
        border-radius: 30px;
        background: white;
   }

    p {
        background: white;
    }

    a{
        background: white;
    }

    .socialMediaLinks {
        border: none;
    }

    .socialMediaLinks img{
        background: white;
    }
}

/*******************************/
/*Large Screen breakpoint*/
@media only screen and (min-width: 900px) {
    body {
        height: 100%;
    }
    
    /*start Screen*/
    .start {
        margin: 2vh;
        height: 90vh;
    }
    h1 {
        margin: 3vh;
    }
    .startImage {
        width: 30%;
    }

    .buttons {
        padding: 3vh;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .startButton {
        width: 35%;
    }

    /*header*/
    header{
        width: 95%;
        flex-direction: row;
        justify-content: flex-end;
        border-bottom: 2px solid darkgreen;
        padding: 2vh;
        margin: 2vh;
    }

    .aboutLink, .portfolioLink {
        margin: 2vh;
    }

    .navImage {
       order: -1;
       width: 80px;
       height: 72px;
       position: absolute;
       top: 2%;
       left: 5%;
    }

    /*portfolio*/
    .portfolioSS {
        width: 75%;
        height: 100%;
    }

    .techList {
        border: none;
        background: none;
        justify-content: flex-end; 
        width: 60%;
    }

    .pheading {
        margin: 0;
        order: -1;
    }

    .ssImage {
        width: 50%;
    }
    
    .portfolioDescription {
        width: 75%;
    }

    .navigateButtons {
        display: none;
    }

    /*about me*/
    .bioP{
        width: 75%;
    }

    .contact {
        width: 50%;
    }
}