* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url(images/miniskybg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    text-align: center;
}

.hide {
    display: none;
}

.tab {
    text-indent: 30px;
}

/*header CSS*/
header {
    display: inline-flex;
    border-bottom: 3px solid black;
    align-items: center;
    justify-content: space-around;


    margin: 5px auto;

    width: 80%;
    font-size: 18px;
    margin: 5px;
    padding: 10px;
    height: 50px;
    left: 0;
    top: 0;
}

.navImage {
    background: none;
    border: none;
    padding: 0;
    
    background: url('images/tinySLlogo.png');
    background-size: 100%;
    border-radius: 50%;
    width: 50px;
    height: 45px;
    cursor: pointer;
}

.aboutLink, .portfolioLink {
    background: none;
    border: none;
    padding: 0;
    font-family: 'Artifika', serif;
    color: blue;
    text-decoration: underline;
    cursor: pointer;

}

a:visited{
    color: darkblue;
}

/*main body css*/
main {
    text-align: center;
}

/*start page CSS*/
h1 {
    margin: 20px 10px 10px;
    padding: 10px;
    font-family: 'Spectral SC', serif;
    font-size: 50px;
}

.intro {
    margin: 5px;
    padding: 15px;
    font-family: 'Karma', serif;
    font-size: 18px;
}

.startImage {
    width:60%;
}

.buttons {
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startButton {
    width: 50%;
    margin: 10px;
    padding: 15px;
    border: 1px solid midnightblue;
    font-size: 20px;
    font-family: 'Artifika', serif;
    color: midnightblue;
    border-radius: 30px;
    cursor: pointer;
}

.startButton:hover {
    background: goldenrod;
    font-size: 18px;
}

.startButton:active {
    background: green;
}



/*background: url('images/greenwatercolor.jpg');
    background-size: 100%;*/

/*portfolio CSS*/
.heading {
    font-size: 20px;
    margin: 0;
}

.techList {
    margin: 5px auto;
    border: 1px solid black;
    border-radius: 20px;
    background: rgb(182, 222, 247);
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;




}

.techList img{
    height: 15px;
    margin: 3px;
}

.portfolioSS {
    border: 1px solid black;
    margin: 5px 15px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    border-radius: 30px;
    height: 80%;
}

.pImage {
    width: 90%;
    
    background: gray;
    margin: 5px auto;
    border: 2px solid black;
}

.portfolioDescription {
    font-size: 14px;
    margin: 10px auto;
    border: 1px dotted gray;
    padding: 10px;
    text-align: left;
    background: white;
    border-radius: 20px;
    font-family: 'Karma', serif;
}

.linkButtons {
    margin: 30px;
}

.navigateButtons {
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.nButton {
    height: 50px;
    width: 30%;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border-radius: 100px;
    font-family: 'Artifika', serif;
    border: 2px solid black;
}

.pageLinks a{
    background: none;
    font-family: 'Karma', serif;
    font-size: 16px;
}

.pageNo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    font-family: 'Karma', serif;
}

.pageNo span {
    margin: 5px;
}

/*about me page */
.aboutMe {
    margin: 0 15px;
    padding: 0 10px;
}

.aboutHeading{
    font-size: 25px;
    font-family: 'Spectral SC', serif;
    margin: 0 10px;
    color: midnightblue;
    text-decoration: underline;
    padding: 3px;
    
}

.bio{
    margin: 5px auto 0;
    padding: 10px;
    font-size: 14px;
    
    /*background: #F8FD89;
    background: #EDDD6E;
    border: 2px solid #EDDD6E;

    

    */

    
    color: midnightblue;
}

.bioP{
    background: #F8FD89;
    text-align: left;
    margin: 0;
    border-radius: 20px;
    padding: 20px;
}

.contact {
    margin: 15px 15px 0;
}

.socialMediaLinks {
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
    border-radius: 20px;
    background: white;
}

.socialMediaLinks img {
    width: 35px;
    
}

.socialMediaLinks a:hover {
    border: 2px solid black;
    border-radius: 50%;
}

.email {
    color: blue;
    text-decoration: underline;
}

p{
    font-family: 'Karma', serif;
    padding: 10px;
}

/*footer CSS*/
footer{
    text-align: center;
    font-size: 10px;
    margin: 10px;
    font-family: 'Solway', serif;

    padding: 10px;

}

footer a{
    color: blue;
    text-decoration: underline;
    font-family: 'Solway', serif;
    font-size: 10px;
    padding: 5px;


}

.footerlink {
    font-size: 10px;
}

.portfolio2{
    display: none;
}

.portfolio3 {
    display: none;
}

/*******************************/
/*Tablet Breakpoint*/
@media only screen and (min-width: 500px) {
    /*start screen*/
    h1 {
        margin: 30px auto;
    }
    
    .intro {
        margin: 20px;
        background: none;
    }

    .startImage {
        width: 40%;
    }

    .buttons {
        margin: 20px;
    }

    .startButton {
        width: 40%;
    }

    /*portfolio*/
    .techList {
        width: 50%;
    }

    .heading{
        font-size: 30px;
        margin: 15px;
    }

    .portfolioSS {
        padding: 25px;
        width: 80%;
        margin: 10px auto;
    }

    .portfolioDescription {
        font-size: 16px;
        margin: 10px 30px;
    }

    .pImage {
        width: 90%;
    }

    .pageLinks {
        margin: 10px;
    }

    .pageLinks a {
        padding: 10px;
    }

    .navigateButtons {
        width: 70%;
        margin: 15px auto 0;
    }

    .pageNo {
        font-size: 20px;
        font-family: 'Karma', serif;
        background: none;
    }

    .nButton {
        width: 30%;
        align-items: center;
    }

    /*about me*/
    .aboutHeading {
        text-decoration: none;
        font-size: 40px;
        padding: 0 auto 10px;
        margin: 0;
    }

    .bio {
        margin: 5px 20px 0px;
        border: none;
   }

   .bioP {
       margin: 0;
       font-size: 18px;
       background: none;
       padding: 0 auto 10px;
   }

   .contactTitle{
        background: white;
        border-radius: 30px;
   }

   .contact {
       background: white;
       width: 75%;
       margin: 0 auto 30px;
       border-radius: 50px;
       padding: 20px;
       border: 1px solid #EDDD6E;
   }

   a{
       background: white;
   }

    p {
    margin: 0 auto 15px;
    background: white;
    }

   .socialMediaLinks {
        border: none;
    }

    .socialMediaLinks img{
        background: white;
    }

    footer a{
        background: none;
    }
}

/*******************************/
/*Large Screen breakpoint*/
@media only screen and (min-width: 800px) {
    /*start Screen*/
    h1 {
        text-align: center;
        margin: 50px 10px 30px;
        font-family: 'Spectral SC', serif;
        font-size: 70px;
    }

    .buttons {
        margin: 30px 10px 0;
        padding: 25px 10px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    


    .intro {
        margin: 30px;
        padding: 15px;
        font-family: 'Karma', serif;
        font-size: 20px;
    }

    .startImage {
        width: 25%;
    }
 
    .startButton {
        margin: 15px auto;
        width: 30%;
        height: 75px;
    }


    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }



    /*header*/
    header{
        width: 90%;
        flex-direction: row;
        justify-content: flex-end;
        
        border-bottom: 2px solid darkgreen;
        
    }

    .nav button {
        margin: 0 8px;
    }

    .navImage {
       order: -1;
       align-self: left;
    }

    


















    /*portfolio*/
    .portfolioSS {
        margin: 10px auto 30px;
        padding: 5px;
    }

    .techList {
        border: none;
        background: none;
        justify-content: flex-end; 
        width: 60%;
    }

    .techList img{
        margin: 0 5px;
    }

    .heading {
        margin: 0;
        order: -1;
    }

    .portfolioDescription {
        font-size: 15px;
        margin: 10px 30px 0;
    }

    .navigateButtons {
        display: none;
    }

    a {
        font-size: 16px;
    }

    .pImage {
        width: 60%;

    }





    /*about me*/
    .aboutMe{
        width: 80%;
    }

    .contactTitle{
        margin: 0 auto 20px;
    }
    .contact {
        width: 50%;


    }

    .aboutHeading {
        margin: 20px;
    }











    /*extra entries*/
    .portfolio2 {
        display: block;
    }

    .portfolio3{
        display: block;
    }

    .portfolioSSE {
        margin: 40px 125px 20px;
        border: 1px solid black;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: space-evenly;
    }
}


    


/*
font-family: 'Karma', serif;
font-family: 'Artifika', serif;
font-family: 'Spectral SC', serif;
*/