* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url(images/miniskybg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    text-align: center;
}

.hide {
    display: none;
}

.tab {
    text-indent: 30px;
}

/*header CSS*/
header {
    display: inline-flex;
    border-bottom: 3px solid black;
    align-items: center;
    justify-content: space-around;


    margin: 5px auto;

    width: 80%;
    font-size: 18px;
    margin: 5px;
    padding: 10px;
    height: 50px;
    left: 0;
    top: 0;
}

.navImage {
    width: 50px;
    background: url('/images/tinySLlogo.png');
    background-size: 100%;
}

a{
    font-size: 16px;
    color: blue;
    text-decoration: underline;
    font-family: 'Artifika', serif;
    background: none;
}

/*main body css*/
main {
    text-align: center;
}

/*start page CSS*/
h1 {
    margin: 20px 10px 10px;
    padding: 10px;
    font-family: 'Spectral SC', serif;
    font-size: 50px;
}

.intro {
    margin: 5px;
    padding: 15px;
    font-family: 'Karma', serif;
    font-size: 18px;
}

.startImage {
    width:60%;
}

.buttons {
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startButton {
    width: 50%;
    margin: 10px;
    padding: 15px;
    border: 1px solid midnightblue;
    font-size: 20px;
    font-family: 'Artifika', serif;
    color: midnightblue;
    border-radius: 30px;
}

/*background: url('images/greenwatercolor.jpg');
    background-size: 100%;*/

/*portfolio CSS*/
.heading {
    font-size: 20px;
    margin: 5px;
}

.techList {
    margin: 5px auto;
    border: 1px solid black;
    width: 75%;
}

.portfolioSS {
    border: 1px solid black;
    margin: 5px 15px 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.pImage {
    width: 90%;
    padding: 60px 100px;
    background: gray;
    margin: 5px auto 15px;
    border: 2px solid black;
}

.portfolioDescription {
    font-size: 14px;
    margin: 10px auto;
    border: 1px dotted gray;
    padding: 5px;
    text-align: left;
}

.linkButtons {
    margin: 30px;
}

.navigateButtons {
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.nButton {
    height: 50px;
    width: 30%;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    border-radius: 10px;
}

.pageNo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
}

.pageNo span {
    margin: 5px;
}

/*about me page */
.aboutMe {
    margin: 0 15px;
    padding: 0 10px;
}

.aboutHeading{
    font-size: 20px;
    font-family: 'Spectral SC', serif;
    margin: 0 10px;
    color: midnightblue;
    text-decoration: underline;
    padding: 3px;
    
}

.bio{
    margin: 5px auto 0;
    padding: 10px;
    font-size: 14px;
    
    /*background: #F8FD89;
    background: #EDDD6E;
    border: 2px solid #EDDD6E;

    

    */

    
    color: midnightblue;
}

.bioP{
    background: #F8FD89;
    text-align: left;
    margin: 0;
    border-radius: 20px;
    padding: 20px;
}

.contact {
    margin: 15px 15px 0;
}

.socialMediaLinks {
    margin: 10px auto;
    padding: 10px;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
    border-radius: 20px;
    background: white;
}

.socialMediaLinks img {
    width: 35px;
}

.email {
    color: blue;
    text-decoration: underline;
}

p{
    font-family: 'Karma', serif;
    padding: 10px;
}

/*footer CSS*/
footer{
    text-align: center;
    font-size: 10px;
    margin: 10px;
    font-family: 'Solway', serif;

    padding: 10px;

}

footer a{
    color: blue;
    text-decoration: underline;
    font-family: 'Solway', serif;
    font-size: 10px;
    padding: 5px;


}

.footerlink {
    font-size: 10px;
}

.portfolio2{
    display: none;
}

.portfolio3 {
    display: none;
}

/*******************************/
/*Tablet Breakpoint*/
@media only screen and (min-width: 480px) {
    /*start screen*/
    h1 {
        margin: 30px auto;
    }
    
    .intro {
        margin: 20px;
    }

    .startImage {
        width: 40%;
    }

    .buttons {
        margin: 20px;
    }

    .startButton {
        width: 40%;
    }

    /*portfolio*/
    .techList {
        width: 50%;
    }

    .heading{
        font-size: 30px;
    }

    .portfolioDescription {
        font-size: 16px;
    }

    .pImage {
        width: 30%;
    }

    /*about me*/
    .bio {
        margin: 50px 20px 35px;
        border: none;
   }

   .contact {
       border: 1px solid black;
       width: 60%;
       margin: 10px auto;
   }

   .socialMediaLinks {
        border: none;
    }
}

/*******************************/
/*Large Screen breakpoint*/
@media only screen and (min-width: 768px) {
    /*start Screen*/
    h1 {
        text-align: center;
        margin: 50px 10px 30px;
        font-family: 'Spectral SC', serif;
        font-size: 70px;
    }

    .buttons {
        margin: 30px 10px 0;
        padding: 25px 10px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    header{
        font-size: 20px;
        border: none;
        margin: 30px 50px 50px;
    }

    .intro {
        margin: 30px;
        padding: 15px;
        font-family: 'Karma', serif;
        font-size: 20px;
    }

    .startImage {
        width: 25%;
    }
 
    .startButton {
        margin: 15px auto;
        width: 30%;
        height: 75px;
    }

    /*header*/
    header{
        background: lightgray;
        width: 100%;
        position: fixed;
        border-bottom: none;
        margin: 0;
        justify-content: flex-end;
    }

    .navImage {
        position: absolute; 
        left: 10px;
        top: 15px;
    }

    header a {
        padding: 10px;
    }

    /*portfolio*/
    .portfolioSS {
        margin: 70px 125px 20px;
    }

    .portfolioDescription {
        font-size: 15px;
        margin: 20px 10px;
    }

    .navigateButtons {
        display: none;
    }

    a {
        font-size: 16px;
    }

    .pImage {
        height: 350px;
        margin: 15px auto;
    }

    /*about me*/
    .contact {
        width: 50%;
    }

    /*extra entries*/
    .portfolio2 {
        display: block;
    }

    .portfolio3{
        display: block;
    }

    .portfolioSSE {
        margin: 40px 125px 20px;
        border: 1px solid black;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: space-evenly;
    }
}


    


/*
font-family: 'Karma', serif;
font-family: 'Artifika', serif;
font-family: 'Spectral SC', serif;
*/